*~
*__pycache__*
*.ipynb_checkpoints/
wandb*
save*
slurm-scripts
logs/*
*/*2022*
*_paper/
Dancing2Music/
sbatch_test/
thesis_final_ch/
dataset/*

src/save*/
wandb*/
*/logs/*
src/presentation_videos/
src/mnist/
src/pytorch-vqvae
src/preprocessing/
src/pycasper/
src/run_jobs/
src/tables*/
src/me.jpg
src/results/
src/human_study*/
src/.experiments
src/.log/jupyter*/
src/.log/fewshot/
src/.log/unittest/

*.ipynb
torch_*.yml
*.json
*.zip
*.p
*.pyc
*.sbatch
*.png
*.job
*.h
*.err
*.out