absl-py==0.7.1
alphashape==1.3.1
anyascii==0.3.0
anykeystore==0.2
apex==0.1
apiclient==1.0.4
appdirs==1.4.4
argcomplete==1.12.2
argunparse==0.1.2
autopep8==1.4.4
beautifulsoup4==4.9.1
boto==2.49.0
boto3==1.9.228
botocore==1.12.228
bs4==0.0.1
cdflib==0.3.19
chumpy==0.70
click==7.1.1
click-log==0.3.2
cloudpickle==1.3.0
configargparse==1.2.3
configer==1.4.1
configparser==5.0.0
contractions==0.1.68
crcmod==1.7
cryptacular==1.5.5
cssselect==1.1.0
cvxpy==1.1.0a4
cvxpylayers==0.1.3
cython==0.29.21
dataclasses==0.6
dbfread==2.0.4
descartes==1.1.0
diffcp==1.0.13
dijkstar==2.6.0
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.15.2
dominate==2.5.1
ecos==2.0.7.post1
fake-useragent==0.1.11
fasteners==0.16
filelock==3.0.12
freetype-py==2.2.0
future==0.17.1
gcs-oauth2-boto-plugin==2.7
gensim==3.8.0
gitdb==4.0.4
gitpython==3.1.1
google-apitools==0.5.31
google-reauth==0.1.1
grpcio==1.22.0
gsutil==4.61
gym==0.17.1
html5lib==1.1
hupper==1.9.1
idna==2.8
ijson==2.6.1
imageio==2.9.0
imageio-ffmpeg==0.4.2
ipympl==0.7.0
ipywidgets==7.6.3
jmespath==0.9.4
jsanimation==0.1
jsonpatch==1.26
jsonpointer==2.0
jupyterlab-widgets==1.0.0
krippendorff==0.3.0
learn2learn==0.1.5
liquidpy==0.2.3
lmdb==1.0.0
lxml==4.5.2
markdown==3.1.1
mechanize==0.4.5
meld==3.20.2
meza==0.42.5
mock==2.0.0
monotonic==1.6
moviepy==1.0.3
mutagen==1.45.1
natsort==7.0.1
networkx==2.5
nltk==3.4.5
numexpr==2.7.0
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
oauthlib==3.1.0
opencv-python==4.1.0.25
ordered-set==4.0.2
osqp==0.6.1
packaging==20.3
parse==1.17.0
pastedeploy==2.0.1
pathlib2==2.3.5
pathtools==0.1.2
pbkdf2==1.3
pbr==5.5.1
pgi==0.0.11.2
pillow==8.2.0
pipreqs==0.4.10
plaster==1.0
plaster-pastedeploy==0.7
prettytable==0.7.2
proglog==0.1.9
promise==2.3
protobuf==3.13.0
psutil==5.7.2
pyahocorasick==1.4.4
pyarrow==0.14.1
pybind11==2.5.0
pybullet==2.6.1
pycodestyle==2.5.0
pycryptodomex==3.11.0
pydub==0.24.1
pyee==7.0.2
pyglet==1.5.0
pygogo==0.13.2
pyopengl==3.1.0
pyppeteer==0.2.2
pyquery==1.4.1
pyramid==1.10.4
pyramid-mailer==0.15.1
pyrender==0.1.43
python-slugify==1.2.6
python3-openid==3.1.0
pytorch-pretrained-bert==0.6.2
pyu2f==0.1.5
pyyaml==5.3
regex==2019.8.19
repoze-sendmail==4.4.1
requests==2.22.0
requests-html==0.10.0
requests-oauthlib==1.3.0
retry-decorator==1.1.1
rtree==0.9.7
s3transfer==0.2.1
sacremoses==0.0.38
scs==2.1.2
semver==2.9.1
sentencepiece==0.1.85
sentry-sdk==0.17.7
setuptools==46.1.3
sh==1.13.1
shapely==1.7.1
shortuuid==1.0.1
slurmpy==0.0.7
smart-open==1.8.4
smmap==3.0.2
smplx==0.1.26
soupsieve==2.0.1
sqlalchemy==1.3.12
subprocess32==3.5.4
svgwrite==1.4
tables==3.5.2
tb-nightly==1.15.0a20190806
tensorboardx==2.1
textsearch==0.0.21
threadpoolctl==2.0.0
tokenizers==0.11.6
torchaudio==0.3.0
torchfile==0.1.0
torchlayers==0.1.1
torchmeta==1.7.0
torchsummary==1.5.1
tqdm==4.48.2
transaction==3.0.0
transformers==2.5.1
transforms3d==0.3.1
translationstring==1.3
trimesh==3.9.18
typeguard==2.7.1
unidecode==1.1.2
urllib3==1.25.10
velruse==1.1.1
venusian==3.0.0
version-query==1.1.0
verta==0.15.1
visdom==0.1.8.9
w3lib==1.22.0
wandb==0.10.21
watchdog==0.10.3
webob==1.8.5
webrtcvad==2.0.10
websocket-client==0.57.0
websockets==8.1
werkzeug==0.15.5
widgetsnbextension==3.5.1
wordsegment==1.3.1
wtforms==2.2.1
wtforms-recaptcha==0.3.2
xlrd==1.2.0
yarg==0.1.9
youtube-dl==2021.1.24.1
yt-dlp==2021.11.10.1
zope-deprecation==4.4.0
zope-interface==4.7.1
zope-sqlalchemy==1.2